<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.eclipse.core.runtime.applications" id="run">
    <application cardinality="singleton-global" thread="main" visible="true">
      <run class="diagnostics.Application"/>
    </application>
  </extension>
  <extension point="org.eclipse.core.runtime.applications" id="ui">
    <application cardinality="singleton-global" thread="main" visible="true">
      <run class="diagnostics.UIApp"/>
    </application>
  </extension>
</plugin>
